$white: #FFF;
$gray: #E7E7E7;
$black: #555;

body {
	background: $white;
	color: $black;
	font: 300 15px/22px 'PT Sans';
	padding:0 2em;
}


header, section {
	border-left:1px $gray solid;
	border-right:1px $gray solid;
}

header {
	padding: 2em 0 2em 0;
	border-top: 6px darken($black, 10%) solid;

	h1 {
		font: 600 40px/54px "PT Sans Narrow";
		color: lighten($black, 10%)
	}
	p {
		font: 300 18px/24px "PT Sans";

		em {
			color: lighten($black, 50%);
			padding: 0 8px;
		}
	}
}


aside {
	h2 {
		font: 300 14px/16px 'PT Sans';
		text-transform:uppercase;
		margin-top:0;
		border-top:1px lighten($black, 50%) solid;
		padding-top:12px;

		span {
			font-weight:normal;
		}
	}

	p,ul{
		font: 300 14px/14px 'PT Sans';
	}
	ul { list-style-type: circle;}
}


section {
	padding:0 12px 70px 12px;
	
	&> div.row-fluid {
		padding:12px 0;
	}
	&>.row-fluid:first-of-type > aside > h2 {
		font-weight:600;
	}
}


footer {
	background-color: darken($black, 10%);
	color:darken($white, 30%);
	padding: 10px;

	h2 {
		font: 200 12px/16px 'PT Sans';
		text-transform:uppercase;
		margin:.5em;
	}
}

