a {
  color: #4183c4;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  a:hover {
    color: white;
    background-color: #5e9cda;
    text-decoration: none; }

div.project-image a:hover {
  background-color: transparent; }

body {
  background: white;
  color: #555555;
  font: 300 15px/22px "PT Sans";
  padding: 0 2em; }
  body.resume aside > h2 {
    font-weight: 600; }
  body.resume section div.row-fluid {
    padding: 0 0 40px 0; }
  body.resume section p {
    text-align: justify; }
  @media (max-width: 600px) {
    body {
      padding: 8px; } }

header, section {
  border-left: 1px #e7e7e7 solid;
  border-right: 1px #e7e7e7 solid; }
  @media (max-width: 600px) {
    header, section {
      border: 0; }
      header .row-fluid .offset3:first-child, section .row-fluid .offset3:first-child {
        margin-left: 0; } }

header {
  padding: 2em 0 2em 0;
  border-top: 6px #3b3b3b solid; }
  @media (max-width: 600px) {
    header {
      padding: 4px;
      border: 0; } }
  header h1 {
    font: 600 40px/54px "PT Sans Narrow";
    color: #6e6e6e; }
  header ul {
    margin: 0; }
  header li {
    font: 300 16px/18px "PT Sans";
    display: inline;
    margin: 0;
    padding: 0 12px 0 0; }
    @media (max-width: 730px) {
      header li {
        display: block; } }

aside h2 {
  font: 300 14px/16px "PT Sans";
  text-transform: uppercase;
  margin-top: 0;
  border-top: 1px #d4d4d4 solid;
  padding-top: 12px; }
  @media (max-width: 600px) {
    aside h2 {
      font-size: 18px;
      line-height: 22px; } }
aside p, aside ul {
  font: 300 14px/14px "PT Sans"; }
  aside p.date, aside p.title, aside ul.date, aside ul.title {
    font: 300 14px/18px "PT Sans";
    margin-bottom: 0;
    text-align: left; }
    aside p.date span, aside p.title span, aside ul.date span, aside ul.title span {
      font-weight: normal;
      text-transform: none; }
aside ul {
  list-style-type: circle; }

section {
  padding: 0 12px 70px 12px; }
  @media (max-width: 600px) {
    section {
      padding: 0 5px 20px 5px; } }
  section > div.row-fluid {
    padding: 12px 0; }
  section > .row-fluid:first-of-type > aside > h2 {
    font-weight: 600; }

footer {
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 10px; }
  footer h2 {
    font: 200 12px/16px "PT Sans";
    text-transform: uppercase;
    margin: .5em; }

#carousel {
  border: 1px #e7e7e7 solid; }
  #carousel .carousel-control {
    font-size: 26px;
    line-height: 43px;
    border: 2px white solid;
    background: #555555;
    color: white;
    margin: 0;
    opacity: 0.7; }
    #carousel .carousel-control:hover {
      opacity: 0.9; }
