body {
  background: #FCFAF2;
  color: #222;
  font: 400 16px/24px "PT sans"; }

h1 {
  font: 800 52px/52px "Arvo";
  letter-spacing: -1px; }

h2 {
  font: 800 48px/48px "Arvo";
  letter-spacing: -1px; }

section {
  padding: 1em 4em; }
  section:nth-child(odd) {
    background-color: #F1F1F1; }

section > div.row-fluid {
  margin: 24px 0; }
