
div.design-note {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	position:absolute;
	opacity:.85;
	-webkit-box-shadow: 0px 2px 6px #999;
	-moz-box-shadow: 0px 2px 6px #999;
	box-shadow: 0px 2px 6px #999;
	z-index:100;
	text-align:left;
	width:200px; 
	color: #343434;
	outline:0;
}

div.design-note div {
	padding:.5em 1em;
	border:1px #9dc4d8 solid;
	background-color:#ecf4fb;
	min-height:15px;
}

div.statelist {
	top:10px; 
	right:10px; 
	margin:0;
}

/* close box icon. Since this is the only image used by this tool, it's stored for convenience as a base-64 string. */
p.close-box {
	width:14px;
	height:14px;
	margin:0;
	padding:0;
	background-image:url(data:image/png;base64,R0lGODlhDwAPALMAAAAAAObl1s7MrWZmZv///9rYwdXTuO3s4NzaxOHfzdvZw9bUuv///wAAAAAAAAAAACH5BAUUAAwALAAAAAAPAA8AAARIkMlJqxw46zEH+WBIcIwniqQJiOt4gS0Rp+Eau+Wh6+t+pIFgwCYMpBLIVRKZSCEQK4VUASgUUguDdstNCb7gsIBU2mwsaEoEADs=);
	background-repeat: no-repeat;
	position:absolute; 
	top:5px; 
	right:5px; float:right;
}

div.statelist div {
	border:1px #fbe487 solid;
	background-color:#FFFFCC;
}

//div.design-note img {position:absolute; top:5px; right:5px; float:right;}
div.design-note {font-size:10px;}
div.design-note ul {list-style:none; padding:0; margin:0;}
div.design-note ul li {margin:.5em 0;}
div.design-note a { color:#004b91;}


/* stripe added dynamically when someone's looking at a mockup NOT in firefox */
#browser-warning {
	background-color:red;
	border-bottom:1px solid #EBEBAF;
	padding:10px; 
	font-size:130%;
	font-weight:bold; 
	color:white;
}