/* message container styles */
.message {
	margin:10px 0;
	padding:10px;
	color:black;
	font-size:12px;
	border:1px #0071B5 solid;
	background:#ffffcc;
	font-size:100%;
}
.message span {
	background: url(../images/assets/messages-sprite.gif) no-repeat 0 0;
	float:left;
	width:25px;
	height:25px;
	display:block;
}

.message h6 {
	font-size:13px;
	margin:0 0 .25em 35px;
	padding:0;
	font-weight:bold;
}

.message p {
	margin:0 0 .25em 35px;
	padding:0;
}
/* mixture of padding + margin here to get FF and IE to positon UL consistently */
.message ul {padding-left:0; margin-left:10px; margin-top:5px;}
.message li {margin-left:35px; list-style-type:disc;}
.message a { color: #004B91;}

.success {
	color:#006633;
	border:1px solid #447F00;
}
.success h6 {color:#006633;}
.success span {background-position: 0 -25px;}
.success span.mini {background-position: 0px -17px !important;}


.warning {border:1px solid #E47911;}
.warning h6 {}
.warning span {background-position: 0 -50px;}
.warning span.mini {background-position: 0px -34px !important;}


.error {
	color:#A31919;
	border:1px solid #A31919;
}
.error h6 {}
.error span {background-position: 0 -75px}
.error span.mini {background-position: 0px -51px !important;}


.mini {
	font-size:92%; 
	padding:7px; 
	border:1px #DDDAC0 solid;
}
.mini h6 {font-size:100%; margin-left:25px;}
.mini p {margin-left:25px;}

.mini span.mini {
	background: url(../images/assets/messages-sprite-mini.gif) no-repeat 0 0;
	width:3px;
	height:3px;
	border:0;
}
